.app {
  height: 100vh;
  display: flex;
  color: white;
  /*background-color: #002984;*/
  background-image: url("../src/assets/wallpaper.png");
}

.main {
  width: 75%;
  /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #002984);*/
  display: flex;
  flex-direction: column;
}

.pyramid {
  width: 25%;
  /*background-color: #020230;*/
  background: linear-gradient(#0e0124, #22074d);
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList {
  padding: 20px;
  list-style: none;
  width: 100%;
}

.moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.moneyListItem.active {
  background-color: #FF851B;
  color: black;
  font-weight: bold;
}

.moneyListItemNumber {
  width: 30%;
  font-size: 18px;
  font-weight: 100;
}

.moneyListItemAmount {
  font-size: 20px;
  font-weight: 300;
}

.top {
  height: 50%;
  position: relative;
}

.timer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 80px;
  font-size: 30px;
  font-weight: 700;
  color: #FF851B;
  border-color: #FF851B;
}

.bottom {
  height: 50%;
  position: relative;
  top: 50px;
}

.trivia {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question {
  width: 80%;
  background: linear-gradient(#100241, black);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 20px;
  position: relative;
  top: -20px;
}

.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer {
  width: 40%;
  padding: 10px;
  margin: 0 10px 20px 10px;
  text-align: center;
  background: linear-gradient(#0e0124, #22074d);
  border: 1px solid white;
  border-radius: 15px;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
}

.answer:hover,
.answer.active {
  background: #FF914D;
  color: black;
}

.answer.correct {
  animation: correct 3s ease forwards;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: #FF914D;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: green;
  }
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: #FF914D;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#0e0124, #22074d);
  }
  62%,
  100% {
    background: crimson;
  }
}

.endText {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.start {
  width: 250px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.main {
  position: relative;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.startInput {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.passInput {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}

.startInput:focus {
  outline: none;
}

.passsInput:focus {
  outline: none;
}

.startButton:hover,
.startButton:focus {
  outline: 2px solid #fff;
  outline-offset: -2px;
}

.startButton {
  width: 70%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  background-color: #FF914D;
  position: relative;
  bottom: -10px;
}

.toLeaderboard {
  width: 70%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  background-color: #FF914D;
  position: relative;
  bottom: -50px;
}

.toLeaderboard:hover,
.toLeaderboard:focus {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.endGame {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  position: relative;
  top: -100px;
}

.logo-header {
align-items: center;
}

.logo-interface {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  position: relative;
  top: -170px;
}

.logo-header-interface {
  align-items: center;
}

